# -Indexing

In [1]:
# make a string
a = "samosa pakora"
a

'samosa pakora'

In [2]:
a

'samosa pakora'

In [3]:
#Length of indicies
len(a)

13

In [4]:
a[0]

's'

In [5]:
a[1]

'a'

In [6]:
a[3]

'o'

In [7]:
a[1:2]

'a'

In [8]:
a[0:5]

'samos'

In [9]:
# Last indix is exclusive (matlab hum jitna range daty hai like 0 sey 5 tak tho hamare pas 6th number pay jo value hoti hai wo exclusive hoti hai matlab show nae hoti)
a[0:6]

'samosa'

In [10]:
a[-2]

'r'

In [11]:
a[-6:13]

'pakora'

In [12]:
food = "biryani"
food

'biryani'

## Strings methods

In [13]:
len(food)

7

In [14]:
# Capitilized every element
food.capitalize()

'Biryani'

In [15]:
#Uppercase letter
food.upper()

'BIRYANI'

In [16]:
#Lowercase Letters
food.lower()

'biryani'

In [17]:
# Replace
food.replace("b", "sh")

'shiryani'

In [18]:
# Counting a specific alphabet in a string
name = "baba_aammar with Dr aammar tufail"
name

'baba_aammar with Dr aammar tufail'

In [19]:
name.count("ba")

2

### -Finding an index number in string

In [20]:
name = "baba_aammar with Dr aammar tufail"
name

'baba_aammar with Dr aammar tufail'

In [21]:
name.find("t")

14

In [22]:
### - How to split a string
food = "I love samosa, pakora, raitha, biryani and karahi"
food

'I love samosa, pakora, raitha, biryani and karahi'

In [23]:
food.split(",")

['I love samosa', ' pakora', ' raitha', ' biryani and karahi']

### Basic Data Structure in python

**1-Tuples**

**2-List**

**3-Dictionaries**

**4-Set**

## 1-Tuples

  * odere collection of elements
  
  * enclosed in () round braces parantesis
  
  * Different kind of elements can be stored
  
  * Once element are stored you can not change it(unmutatebale)

In [7]:
tup1 = (1,"python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [8]:
# type of a tuple
type(tup1)

tuple

### -indexing in tuple

In [14]:
tup1[1]

'python'

In [15]:
tup1[2]

True

In [16]:
tup1[0:5]

(1, 'python', True, 2.5)

In [17]:
len(tup1)

4

In [20]:
tup2 = (2, "baba aammar", 3.5, "false")
tup2

(2, 'baba aammar', 3.5, 'false')

In [54]:
# Concatinate (in python its means +, To add two tuples or more tuples)
tup1 + tup2

(1, 'python', True, 2.5, 2, 'baba aammar', 3.5, 'false')

In [22]:
# Repeat + Concatinate
tup1*2 + tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'baba aammar',
 3.5,
 'false')

In [24]:
tup3 = (20, 30, 60, 79, 85)
tup3

(20, 30, 60, 79, 85)

In [25]:
#min
min(tup3)

20

In [26]:
max(tup3)

85

In [27]:
# Repetition not multiply numbers
tup3*2

(20, 30, 60, 79, 85, 20, 30, 60, 79, 85)

---

### 2-List
* Odered collectionof elements
* enclosed in [  ] square brackets/braces
* MUtatible, You can change the values

In [51]:
list1 = [2, "baba aammar", "false"]
list1

[2, 'baba aammar', 'false']

In [32]:
type(list1)

list

In [33]:
len(list1)

3

In [47]:
list1[2]

'false'

In [62]:
list2 = [3, 5, "aammar", "codanics", 478, 53.2,]
list2

[3, 5, 'aammar', 'codanics', 478, 53.2]

In [63]:
type(list2)

list

In [64]:
list1 + list2

[2, 'baba aammar', 'false', 3, 5, 'aammar', 'codanics', 478, 53.2]

In [65]:
list1*2

[2, 'baba aammar', 'false', 2, 'baba aammar', 'false']

In [69]:
list1

[2, 'baba aammar', 'false']

In [70]:
# It will reverse the list elements
list1.reverse()
list1

['false', 'baba aammar', 2]

In [72]:
# list1 k sat hum kuch our add karen gay,aur jitni bar hum enter karen gay itni bar ye print karey ga
list1.append("codanics youtube channel")
list1

['false',
 'baba aammar',
 2,
 'codanics youtube channel',
 'codanics youtube channel']

In [73]:
list3 = [20,30,35,50,12,15,11,15,10,30]
list3

[20, 30, 35, 50, 12, 15, 11, 15, 10, 30]

In [74]:
len(list3)

10

In [76]:
# Sorting a list
list3.sort()
list3

[10, 11, 12, 15, 15, 20, 30, 30, 35, 50]

In [77]:
list3*2

[10,
 11,
 12,
 15,
 15,
 20,
 30,
 30,
 35,
 50,
 10,
 11,
 12,
 15,
 15,
 20,
 30,
 30,
 35,
 50]

In [79]:
lists = list1 + list2
lists

['false',
 'baba aammar',
 2,
 'codanics youtube channel',
 'codanics youtube channel',
 3,
 5,
 'aammar',
 'codanics',
 478,
 53.2]

### Dictionaries
* An unodered collection of elements
* Key and Value
* Curly braces brackets { }
* Mutateable (Change the values)

In [1]:
# Food and their prices
food1 = {"samosa":0, "Pakora":100, "Raitha":10, "Salad":10, "Chicken Rolls":40}  #( use (:))
food1

{'samosa': 0, 'Pakora': 100, 'Raitha': 10, 'Salad': 10, 'Chicken Rolls': 40}

In [2]:
type(food1)

dict

In [4]:
# Extract data
keys1 = food1.keys()
food1.keys()

dict_keys(['samosa', 'Pakora', 'Raitha', 'Salad', 'Chicken Rolls'])

In [5]:
#Extract values
values = food1.values()
food1.values()

dict_values([0, 100, 10, 10, 40])

In [10]:
# Adding new element
food1["tiki"]=20
food1

{'samosa': 0,
 'Pakora': 100,
 'Raitha': 10,
 'Salad': 10,
 'Chicken Rolls': 40,
 'tiki': 20}

In [11]:
# Update the values
food1["tiki"]=15
food1

{'samosa': 0,
 'Pakora': 100,
 'Raitha': 10,
 'Salad': 10,
 'Chicken Rolls': 40,
 'tiki': 15}

In [13]:
food2 = {"dates":150, "chocolates":200, "sawyeea":1000}
food2

{'dates': 150, 'chocolates': 200, 'sawyeea': 1000}

In [14]:
#concatenate (we can't concatinate this way)
food1 + food2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [15]:
# For concatinate we will update
food1.update(food2)
food1

{'samosa': 0,
 'Pakora': 100,
 'Raitha': 10,
 'Salad': 10,
 'Chicken Rolls': 40,
 'tiki': 15,
 'dates': 150,
 'chocolates': 200,
 'sawyeea': 1000}

### 4-sets
* Unodered and un indexed
* Curly braces used { }
* No duplicate allowed

In [16]:
s1 = {1, 2, 3, "Aammar", "Codanics", "Fasalaabad", True}
s1

{1, 2, 3, 'Aammar', 'Codanics', 'Fasalaabad'}

In [19]:
s1.add("Aammar") # yaha pey aammar overwrite ho jae ga ku k sets mai no duplicacy chalti
s1

{1, 2, 3, 'Aammar', 'Codanics', 'Fasalaabad'}

In [20]:
s1.remove("Aammar")
s1

{1, 2, 3, 'Codanics', 'Fasalaabad'}

In [22]:
s2 = {"waseem", 2, 3, "chaesadda"}
s2

{2, 3, 'chaesadda', 'waseem'}